{% extends 'core/base.html' %}

{%block title %}Portada{% endblock %}
{%block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}


{%block headers %}
<h1>Full-Stack Developer</h1>
<span class="subheading">Computer Science</span>
{% endblock %}



{%block content %}

<!-- <iframe style="" src="https://drive.google.com/open?id=1-wlG--0iQsVH1-rKqOx0map02bYY-D1Z" width="100%" height='500' allowfullscreen
  webkitallowfullscreen></iframe> -->

  <iframe src="https://docs.google.com/viewer?srcid=1XOXztfR9eQd13xiGUz-d6uOSTc7GXcC9&pid=explorer&efh=false&a=v&chrome=false&embedded=true" frameborder="0" webkitallowfullscreen allowfullscreen width="100%" height="480px"></iframe>
  <!-- <iframe src="http://docs.google.com/gview?url=http://infolab.stanford.edu/pub/papers/google.pdf&embedded=true" style="width:100%; height:500px;" frameborder="0"></iframe> -->

  <!-- https://docs.google.com/viewer?srcid=<DOCUMENT-ID>&pid=explorer&efh=false&a=v&chrome=false&embedded=true -->



  {% endblock %}