{% extends 'core/base.html' %}

{%block title %}Portada{% endblock %}
{%block background %}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}


{%block headers %}
<h1>Portafolio</h1>
<span class="subheading">Personal Projects</span>
{% endblock %}

{%block content %}
{% for project in projects %}
<!-- Proyecto -->
<div class="row project">
	<div class="col-lg-12 col-md-12">
		<h2 class="section-heading title">{{project.title}}</h2>
		<div>
			{% autoescape off %}
			{{project.description}}
			{% endautoescape %}
		</div>
		{% if project.link %}
		<p><a href="{{project.link}}" target="_blank">More information</a></p>
		{% endif %}
	</div>
</div>
{% endfor %}
{% endblock %}